---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ProductsSection from "../components/ProductsSection.astro";
import ServiceSection from "../components/ServiceSection.astro";
import ProyectosSection from "../components/ProyectosSection.astro";
---

<Layout>
  <HeroSection />
  <ProductsSection />
  <ServiceSection />
  <ProyectosSection />
  <!-- <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-4">
    <div
      class="p-4 rounded-lg shadow-lg bg-base-100 text-base-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-base-100</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-base-200 text-base-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-base-200</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-base-300 text-base-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-base-300</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-primary text-primary-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-primary</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-secondary text-secondary-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-secondary</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-accent text-accent-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-accent</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-neutral text-neutral-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-neutral</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-info text-info-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-info</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-success text-success-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-success</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-warning text-warning-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-warning</span>
    </div>
    <div
      class="p-4 rounded-lg shadow-lg bg-error text-error-content flex justify-center items-center h-20"
    >
      <span class="font-bold text-center">--color-error</span>
    </div>
  </div> -->
</Layout>
