<section class="bg-neutral py-16">
  <div class="container mx-auto px-6 lg:px-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <!-- Core Values -->
      <div class="flex items-start gap-6">
        <div
          class="w-16 h-16 flex items-center justify-center bg-primary text-warning-content rounded-full"
        >
          <i class="fas fa-flag text-2xl"></i>
        </div>
        <div>
          <h3 class="text-xl font-bold text-neutral-content">Core Values</h3>
          <p class="text-neutral-content">
            Construction’s core values have been shaped over more than 10 years
            of delivering the finest construction services to our clients. They
            stood the test of time and these principles remain our bedrock
            lynchpins.
          </p>
        </div>
      </div>

      <!-- Pace -->
      <div class="flex items-start gap-6">
        <div
          class="w-16 h-16 flex items-center justify-center bg-primary text-warning-content rounded-full"
        >
          <i class="fas fa-rocket text-2xl"></i>
        </div>
        <div>
          <h3 class="text-xl font-bold text-neutral-content">Pace</h3>
          <p class="text-neutral-content">
            Our love for detailed, bullet-point preparations, as well as open
            and clear project management, is what makes us faster than the
            competition.
          </p>
        </div>
      </div>

      <!-- Quality -->
      <div class="flex items-start gap-6">
        <div
          class="w-16 h-16 flex items-center justify-center bg-primary text-warning-content rounded-full"
        >
          <i class="fas fa-trophy text-2xl"></i>
        </div>
        <div>
          <h3 class="text-xl font-bold text-neutral-content">Quality</h3>
          <p class="text-neutral-content">
            Quality is focal in every little aspect of construction. The mindset
            of both our senior employees and on-site workers centers on
            attention to detail.
          </p>
        </div>
      </div>

      <!-- Environment Friendliness -->
      <div class="flex items-start gap-6">
        <div
          class="w-16 h-16 flex items-center justify-center bg-primary text-warning-content rounded-full"
        >
          <i class="fas fa-leaf text-2xl"></i>
        </div>
        <div>
          <h3 class="text-xl font-bold text-neutral-content">
            Environment Friendliness
          </h3>
          <p class="text-neutral-content">
            Besides valuing your time, money, and vision for the project, we
            also value Mother Nature. We use only eco-friendly materials.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
