---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

const servicios = await getCollection("servicios");
---

<section class="py-12 bg-neutral text-neutral-content">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold text-neutral-content mb-6 relative inline-block">
      <span class="block w-12 h-0.5 bg-primary mx-auto mt-2"></span>
      SERVICIOS
    </h2>
    <div class="grid md:grid-cols-3 gap-8">
      {
        servicios.map((servicio) => (
          <div class="flex flex-col items-center text-center">
            <div class="w-64 h-64 mb-4 overflow-hidden rounded-lg">
              <Image
                src={servicio.data.img}
                alt={servicio.data.title}
                width={256}
                height={256}
                class="w-full h-full object-cover"
              />
            </div>
            <h3 class="text-xl font-semibold text-neutral-content mt-4">
              {servicio.data.title}
            </h3>
            <p class="text-base-content mt-2">
              {servicio.data.detail}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
